# Server
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
REFRESH_TOKEN_TTL_DAYS=7

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=your_database 

# AI Service
AI_SERVICE_API_URL=http://localhost:3001
DEEPGRAM_API_KEY=your_deepgram_api_key_here

# Redis
REDIS_URL=redis://localhost:6379
REDIS_PREFIX=your_redis_prefix_here

# SMS
SMS_INTEGRATION=msg91
MSG91_API_KEY=your_msg91_api_key_here
MSG91_TEMPLATE_ID=your_msg91_template_id_here
MSG91_API_URL=https://control.msg91.com/api/v5/flow

# OTP
OTP_TTL=300  #in seconds

# ANALYTICS
ANALYTICS_INTEGRATION=METABASE
METABASE_URL=https://metabase.com
METABASE_API_KEY=your_metabase_api_key_here

#AUDIO_INGEST_INTEGRATION
AUDIO_INGEST_INTEGRATION=EXOTEL

# AWS
AWS_REGION=aws-region
AWS_ACCESS_KEY_ID=aws-access-key-id
AWS_SECRET_ACCESS_KEY=aws-secret-access-key

# EMAIL
EMAIL_INTEGRATION=aws-ses

# AWS-SES
AWS_SES_SOURCE_EMAIL=aws-source-email
