# Server
PORT=3000
NODE_ENV=development
LOG_LEVEL=debug

# JWT Configuration
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
REFRESH_TOKEN_TTL_DAYS=7

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=your_database 

# AI Service
AI_SERVICE_API_URL=http://localhost:3001
DEEPGRAM_API_KEY=your_deepgram_api_key_here

# Redis
REDIS_URL=redis://localhost:6379
REDIS_PREFIX=your_redis_prefix_here

# SMS
SMS_INTEGRATION=msg91
MSG91_API_KEY=your_msg91_api_key_here
MSG91_TEMPLATE_ID=your_msg91_template_id_here
MSG91_API_URL=https://control.msg91.com/api/v5/flow

# OTP
OTP_TTL=300  #in seconds

# ANALYTICS
ANALYTICS_INTEGRATION=METABASE
METABASE_URL=https://metabase.com
METABASE_API_KEY=your_metabase_api_key_here

#AUDIO_INGEST_INTEGRATION
AUDIO_INGEST_INTEGRATION=EXOTEL

# AWS_SMTP
SMTP_REGION=smtp-region
SMTP_ACCESS_KEY_ID=smtp-access-key-id
SMTP_SECRET_ACCESS_KEY=smtp-secret-access-key

# AWS
AWS_REGION=aws-region
AWS_ACCESS_KEY_ID=aws-access-key-id
AWS_SECRET_ACCESS_KEY=aws-secret-access-key

# EMAIL
EMAIL_INTEGRATION=aws-ses

# AWS-SES
SES_SOURCE_EMAIL=ses-source-email

# Audio upload
AUDIO_STORAGE_S3_BUCKET=audio-storage-s3-bucket

# AI service API key
AI_SERVICE_API_KEY=ai-service-api-key

# Audio storage directiry
AUDIO_STORAGE_DIR=audio-storage

# Cloud telephony credentials encryption key
CLOUD_TELEPHONY_CREDENTIALS_ENCRYPTION_KEY=cloud-teleophony-credentials-encryption-key

# Ozonetel API URL
OZONETEL_API_URL=ozonetel-api-url

# API base URL
API_BASE_URL=api-base-url
# AWS-SQS
SQS_TRANSCRIPTION_REQUEST_QUEUE_URL=sqs-ai-transcription-request-queue
SQS_TRANSCRIPTION_REQUEST_DLQ_URL=sqs-ai-transcription-request-dlq
SQS_TRANSCRIPTION_RESPONSE_QUEUE_URL=sqs-ai-transcription-response-queue
SQS_TRANSCRIPTION_RESPONSE_DLQ_URL=sqs-ai-transcription-response-dlq
SQS_AUDIO_FILE_RETRY_QUEUE_URL=sqs-audio-file-retry-queue
SQS_AUDIO_FILE_RETRY_DLQ_URL=sqs-audio-file-retry-dlq

# TEST ACCOUNTS
TEST_ACCOUNTS=test-accounts

#CORS ORIGINS
ALLOWED_ORIGINS=allowed-origins

# LIVEKIT CONFIG
LIVEKIT_URL=livekit-server-url
LIVEKIT_API_KEY=livekit-api-key
LIVEKIT_API_SECRET=livekit-api-secret

SQS_LEARN_MESSAGE_AND_EVENT_QUEUE_URL=sqs-learn-message-and-event-queue

